/* styles.css */

/* Add styles here to customize the appearance of your app */
#com_footer{
    text-align: center;
}
body{
    background-color:rgb(40, 40, 40);
    color: white;
    font-size: 24px;
}
#com_header{
    background-color:rgb(10, 10, 10);
    width:200px;
}
#com_title{
    color:rgb(120, 120, 120);
    display:flex;
    align-items:center;
    font-size: 18px;
    padding:2px;
}
#com_content{

}